@font-face {
  font-family: _Roboto-regular;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: _Roboto-bold;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

html, body, .wrapper{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: #000;

}

.conteiner{
  width: 100%;
  max-width: 1920px;
}

*{
  z-index: 0;
  position: relative;
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: _Roboto-regular;
  &::-webkit-scrollbar{
    position: absolute;
    width: 0%;
    height: 0%;
  }
}

*:active, *:focus{
  border: 0px;
}
